img {
  width:120px;
  height: 120px;
}
header {
  background-color: orange;
  color:white;
}

.instructions {
  background-color: #BBA10F;
  color:green;
  margin:10px 0;
}
#toGuess {
  background-color: green;
  color: purple;
  height: 80px;
  font-size: 1.5em;
}
#score {
  color: green;
  background-color: lightblue;
  height:80px;

}
.container{
  margin: 10px 0;
}
#ccs {
  background-color: darkgreen;
  color: white;
  font-size: 2em;
  height: 120px;
}
